.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    border-bottom: 2px solid #576574;
}

.headerLeft > img
{
    object-fit: contain;
    height: 40px;
    margin-left: 50px;
}

.headerRight
{
    display: flex;
    padding-right: 90px;
}

.profile
{
    display: flex;
    height: 80px;
    width: 350px;
    border: 2px solid #576574;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
}

.profile > h3
{
    font-size: xx-large;
}