.main
{
    flex: 1;
    background-color: whitesmoke;
    border-left: 2px solid #EBF0F5;
}

.main_body
{
    display:flex;
    background-color: white;
       
}

.middlebar{ 
    width: 65%;
}

.rightbar
{
    background-color: rgb(249, 249, 255);
    width: 35%;
}

.rank
{
  margin-bottom: 5px;  
}

.bottom
{
    margin-top: 5px;
}

.middlebar > p
{
    text-align: start;
    color: #949FA8;
    margin-left: 5px;
}

.rightbar >  h3
{
    text-align: start;
    margin-top: 25px;
}

.sidBar
{
    margin-top: 50px;
}

.doughnut
{
    margin-top: 80px;
}