.main
{
    flex: 1;
    background-color: whitesmoke;
}

.main_body
{
    display:flex;
    background-color: white;
    height: 100vh;    
}

.middlebar{
   
    width: 70%;
}

.rightbar
{
    background-color: blue;
    width: 30%;
}

.rank
{
  margin-bottom: 5px;  
}

.bottom
{
    margin-top: 5px;
}