.main {
  flex: 1;
  background-color: whitesmoke;
  border-left: 2px solid #ebf0f5;
}

.main_body {
  display: flex;
  background-color: white;
}

.middlebar {
  width: 75%;
  max-height: 90vh;
  overflow: scroll;
}

.rightbar {
  background-color: rgb(249, 249, 255);
  width: 25%;
  max-height: 500px;
    overflow: scroll;
}

.rank {
  margin-bottom: 5px;
}

.bottom {
  margin-top: 5px;
}

.sidBar {
  margin-top: 20px;
}

.doughnut {
  margin-top: 80px;
}
