.mheader {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ranks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.mbuttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.logo > img {
  object-fit: contain;
  height: 50px;
  margin-left: 5px;
}

.left > h2 {
  color: #232f3f;
}

.mranks {
  display: flex;
  align-items: center;
  color: #193282;
}

.mranks > h4 {
  margin-left: 20px;
  color: #232f3f;
}

.input > input {
  width: 120px;
  height: 25px;
  border: 1px solid #193282;
  border-radius: 5px;
  text-align: center;
  color: #193282;
}

input[type="text"]:focus {
  outline: 0.2px solid #193282; /* oranges! yey */
}

.cancelBut > Button {
  color: #193282;
  border: 2px solid #193282;
  font-weight: 300;
  margin-right: 30px;
}

.updateBut > Button {
  background-color: #193282;
  border: 2px solid #193282;
  font-weight: 300;
  margin-right: 30px;
}

.updateBut > Button:hover {
  color: #ffffff;
  background-color: #193282;
}
