.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  width: 90%;
  border: 2px solid #ebf0f5;
  margin: auto;
  margin-top: 50px;
  border-radius: 15px;
}

div.fStat {
  display: flex;
  align-items: center;
}

div.numbers {
  display: flow-root;
  padding-left: 10px;
}

.icon {
  margin-right: 10px;
}

.bottom {
  color: #616e7c;
}

.rank {
  text-align: start;
}

.h {
  position: absolute;
  margin-top: 0px;
  margin-left: 50px;
}
