

div.fStat {
  display: flex;
  align-items: center;
}

div.numbers {
  display: flow-root;
  padding-left: 10px;
}

.icon {
  margin-right: 10px;
}

.bottom {
  color: #616e7c;
}

.rank {
  text-align: start;
}

.h {
  position: absolute;
  margin-top: 0px;
  margin-left: 50px;
}
