.container
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    width: 80%;
    border: 2px solid black;
    margin: auto;
    margin-top: 90px;
    border-radius: 15px;
}

div.fStat
{
    display: flex;
    align-items: center;
}

div.numbers
{
    display: flow-root;
    padding-left: 10px;
}


