.container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 80%;
    border: 2px solid black;
    margin: auto;
    margin-top: 90px;
    border-radius: 15px;
}

.text
{
    padding: 10px;
    display: flex;
    align-items: center;
}

.img > img 
{
    object-fit: contain;
    height: 80px;
    margin-left: 5px;
}

.middleP
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
}

.middleP > p
{
  margin-top: 10px;  
}

.middleP > h3
{
  margin-bottom: 10px;  
}

.button > Button
{
    margin-right: 20px;
}
