.head {
  display: flex;
  justify-content: space-between;
}

.scor {
  color: #4383f6;
  margin-right: 15px;
}

.para {
  color: #566474;
  text-align: start;
  margin-right: 25px;
}

.footc {
  display: flex;
  flex-direction: column;
}
